* {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    background-color: #242424;
}
main {
    display: grid;
    place-items: center;
    min-height: 100vh;
    position: relative;
}
.how_it_works {
    padding-left: 2.5%;
}